<!DOCTYPE html>
<#import "/spring.ftl" as spring />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour search</title>
    <link href="/resources/style/style.css" rel="stylesheet">
</head>
<body>
<table>
    <#list types as type>
        <tr>
            <td>${type.id}</td>
            <td>${type.name}</td>
        </tr>
    </#list>
</table>
</body>
</html>