<!DOCTYPE html>
<#import "/spring.ftl" as spring />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour search</title>
    <link href="/resources/style/style.css" rel="stylesheet">
</head>
<body>
${hotel.id} <br/>
${hotel.name} <br/>
${hotel.phoneNumber} <br/>
${hotel.stars} <br/>
</body>
</html>