<!DOCTYPE html>
<#import "/spring.ftl" as spring />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour search</title>
    <link href="/resources/style/style.css" rel="stylesheet">
</head>
<body>
<table>
    <tr>
    <#list hotels as hotel>
        <td>${hotel.id}</td>
        <td>${hotel.name}</td>
        <td>${hotel.phoneNumber}</td>
        <td>${hotel.stars}</td>
    </#list>
    </tr>
</table>
</body>
</html>